
main{
  border: 5px solid brown;
  /* width: 50%; */
  width: 25vw;
}

body{
  font-size: 2em;
}
header{
  font-size: 2em;
}
h1{
  font-size: 10vw;
}
h3{
  font-size: 2rem;
}
p{
  font-size: 1.5rem;
}

/* unit em works on parent and multiplies with the parent em to give final output but 'rem' is root em which give final oputput as per the given em and not on parent em  */

section{
  border: 5px dashed green;
  width: 50vw;
}